.auth-card{
    background-color: rgb(251, 251, 255);
    width: 400px;
    margin-top: 150px;
    border-radius: 3px;
    border: 1px solid gray;
    padding: 40px;
    text-align: center;
}


.reg-card{
    width: 700px;
    background-color: rgb(251, 251, 255);
    border-radius: 3px;
    border: 1px solid gray;
    padding: 40px;
    
}
input.reg-field{
    width: 100%;

}
.reg-input-row{
    margin-top: -10px !important;
    margin-bottom: 30px;
    align-items: center;
    background-color: white;
}
.reg-input-icon{
    align-self: left;
    margin-bottom: -34px;  
    margin-right: 55px;
    padding: 7px;
    z-index: 10;
    position: relative;
    color: rgb(120, 120, 120);
}

.help-btn{
    border-radius: 100% !important;
}


.auth-form{
    display: flex;
    justify-content: center;
}
.auth-title{
    text-align: center;
    color: white;
}
.bug-title{
    font-size: 50px;
}
.auth-page{
    background: linear-gradient(to left, rgb(255, 119, 0),rgb(255, 150, 13) , rgb(255, 184, 91) );
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 7%;
    padding-top: 2%;
}


.rmv-dec{
    text-decoration: none !important;
    color: rgb(251, 251, 255);
    font-weight: 475;
}
.rmv-dec:hover{
    text-decoration: none !important;
    color: rgb(191, 191, 191);
}

html{
    height:  100%;
}

.label-row{
    margin-bottom: -5% ;
}
.label-row-user{
    margin-bottom: -2% ;
}
