.auth-card{
    background-color: rgb(251, 251, 255);
    width: 400px;
    margin-top: 150px;
    border-radius: 3px;
    border: 1px solid gray;
    padding: 40px;
    text-align: center;
    
    
}
.auth-form{
    display: flex;
    justify-content: center;
}
.auth-title{
    text-align: center;
    color: white;
}
.bug-title{
    font-size: 50px;
}
.auth-page{
    background: linear-gradient(to left, rgb(255, 119, 0),rgb(255, 150, 13) , rgb(255, 184, 91) );
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 15%;
    padding-top: 2%;
    
}

.rmv-dec{
    text-decoration: none !important;
    color: rgb(251, 251, 255);
    font-weight: 475;
}
.rmv-dec:hover{
    text-decoration: none !important;
    color: rgb(191, 191, 191);
}

html{
    height:  100%;
}
