.comment-title-row{
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 0;
    margin-bottom: 1%;
    font-size: medium;
}
.comment-card{
    padding-left: 5%;
    padding-right: 5%;
}

.comment-input {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-left: 3%;
  }