.dash-header{
    background: linear-gradient(to left, rgb(0, 56, 178),rgb(87, 206, 249) );
    margin-bottom: 10px;
    margin-top: -20px;
    margin-left: -170px;
    width: 200%;
    padding: 10px;
    color: white;
}
.header-title{
    text-align: center;
}