.dash-header{
    background: linear-gradient(to left, rgb(0, 56, 178),rgb(87, 206, 249) );
    padding: 1%;
    margin-bottom: 2%;
}

.dash-header-closed{
    background: linear-gradient(to left, rgb(0, 56, 178),rgb(87, 206, 249) );
}
.header-title{
    text-align: center;
}
